<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Loctel | Cineto Telecomunicaciones</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <% if (isAuthenticated) { %>

        <div id="wrapper">

            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-rounded" src="img/user.png" />
                             </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" style="text-transform: uppercase;"><%= username.nombreUsuario %></strong>
                             </span> <span class="text-muted text-xs block"><%= username.nombreRol %> <b class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="">Perfil</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/logout">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                LT+
                            </div>
                        </li>
                        <% if(username.nombreRol === 'Administrador') { %>
                            <li>
                                <a href="/adminIndex"><i class="fa fa-area-chart"></i> <span class="nav-label">Inicio</span></a>
                            </li>
                            <li class="active">
                                <a href="/adminEmpresa"><i class="fa fa-bank"></i> <span class="nav-label">Empresa</span></a>
                            </li>
                            <li>
                                <a href="/adminCentral"><i class="fa fa-phone"></i> <span class="nav-label">Central Telefónica</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="/adminCentral">Modelo Central Telefónica</a></li>
                                    <li><a href="/adminCentralCampos"> Campos Central Telefónica</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/adminDepartamento"><i class="fa fa-diamond"></i> <span class="nav-label">Departamentos</span></a>
                            </li>
                            <li>
                                <a href="/adminAgentes"><i class="fa fa-headphones"></i> <span class="nav-label">Agentes</span></a>
                            </li>
                            <li>
                                <a href="/adminSeries"><i class="fa fa-sort-numeric-asc"></i> <span class="nav-label">Series Numéricas</span></a>
                            </li>
                            <li>
                                <a href="/adminUsuarios"><i class="fa fa-group"></i> <span class="nav-label">Usuarios</span></a>
                            </li>
                            <li>
                                    <a href=""><i class="fa fa-desktop"></i> <span class="nav-label">CRM</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <!--<li><a href="/adminCrmCreacionCampos"> Campos</a></li>-->
                                        <li><a href="/adminCrmInformacion"> Información</a></li>
                                        <li><a href="/adminCrmAsignacion"> Asignación</a></li>
                                        <li><a href="/adminCrmConsultas"> Consultas</a></li>
                                        <li>
                                            <a href="/adminCrmUsuarios"> Usuarios</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye"></i>
                                        <span class="nav-label">Administración</span>
                                        <span class="fa arrow"></span>
                                    </a>
                                    <ul class="nav nav-second-level">
                                        <li >
                                           <a href="/adminAuditoria"> Auditoría</a>
                                        </li>
                                        <li>
                                            <a href="/adminErrores"> Log Errores</a>
                                        </li>
                                    </ul>
                                </li>
                            <% } %>

                                <% if(username.nombreRol === 'Consultor') { %>
                                    <li class="active">
                                        <a href="/adminIndex"><i class="fa fa-area-chart"></i> <span class="nav-label">Inicio</span></a>
                                    </li>
                                    <% } %>
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message" style="text-transform: uppercase; font-weight: bold;"><%= username.nombreUsuario %> Bienvenido a Loctel</span>
                            </li>
                            <li>
                                <a href="/logout"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                            </li>
                        </ul>

                    </nav>
                </div>
                <% if(username.nombreRol === 'Administrador') { %>
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="col-sm-4">
                            <h2>Empresa</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a>Administrador</a>
                                </li>
                                <li class="active">
                                    <strong>Empresa</strong>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ibox-title">
                                    <form role="form" action="/GuardarEmpresa" method="POST" id="fmrEmpresa">
                                        <div class="form-group">
                                            <label>Razón Social</label>
                                            <input type="text" placeholder="Ingresar Nombre" class="form-control" id="txtRazonSocial" name="txtRazonSocial">
                                        </div>
                                        <div class="form-group">
                                            <label>R.U.C</label>
                                            <input type="number" placeholder="Ingresar Identificaión" class="form-control" id="txtRuc" name="txtRuc">
                                        </div>
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input type="text" placeholder="Ingresar Dirección" class="form-control" id="txtDireccion" name="txtDireccion">
                                        </div>
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="number" placeholder="Ingresar Teléfono" class="form-control" id="txtTelefono" name="txtTelefono">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit" style="font-size: 15px" id="btnGuardarEmpresa"><strong>Guardar</strong></button>
                                        </div>
                                        <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else{%>

                        <div class="row wrapper border-bottom white-bg page-heading">
                            <div class="col-sm-9">
                                <h2 style="font-weight: bold">No tienes permiso para ingresar a el siguiente módulo</h2>
                            </div>
                        </div>

                        <% }%>
            </div>
        </div>

        <div id="modal-form" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>

        <!-- Mainly scripts -->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="js/inspinia.js"></script>
        <script src="js/plugins/pace/pace.min.js"></script>
        <script src="js/plugins/toastr/toastr.min.js"></script>
        <script src="js/plugins/sweetalert/sweetalert.min.js"></script>
        <script>

            BuscarEmpresa();

            $("#btnGuardarEmpresa").click(function (e) {
                e.preventDefault();
                if (Validar()) {
                    GuardarEmpresa(e);
                }
            });

            function GuardarEmpresa(e) {

                e.preventDefault();
                var data = $('#fmrEmpresa').serialize();

                $.ajax({
                    type: "POST",
                    url: "/GuardarEmpresa",
                    data: data,
                    success: function (responseText) {
                        toastr.success(responseText, 'Gestión Empresa');
                        BuscarEmpresa();
                    }
                });
            }

            function BuscarEmpresa(params) {
                $.ajax({
                    type: "GET",
                    url: "/BuscarEmpresa",
                    success: function (responseText) {

                        $('#txtRazonSocial').val(responseText[0].nombreEmpresa);
                        $('#txtRuc').val(responseText[0].rucEmpresa);
                        $('#txtDireccion').val(responseText[0].direccionEmpresa);
                        $('#txtTelefono').val(responseText[0].telefonoEmpresa);

                    }
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    toastr.error('Error al Buscar Empresa', 'Gestión Empresa');
                });
            }

            function Validar() {

                if ($('#txtRazonSocial').val().length > 0) {
                    if ($('#txtRuc').val().length == 13) {
                        if ($('#txtDireccion').val().length > 0) {
                            if ($('#txtTelefono').val().length > 0) {
                                return true;
                            } else {
                                swal("Advertencia", "Ingresar el Número Telefónico", "warning");
                            }
                        } else {
                            swal("Advertencia", "Ingresar la Dirección", "warning");
                        }
                    } else {
                        swal("Advertencia", "La cantidad de caracteres en el R.U.C es incorrecta", "warning");
                    }
                } else {
                    swal("Advertencia", "Ingresar el Nombre", "warning");
                }
                return false;
            }
        </script>
        
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <script src="js/timeOut/timeOut.js"></script>
        <%  } else{ %>
            <script>
                location.replace('/inicio');
            </script>
            <% } %>

</body>

</html>